
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
   width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: backgroud 0.2s;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;
}